* {
    padding: 0px 0px;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding: 25px 55px;
    background-color: #B70466;
    min-width: 1000px;
}

.logo img {
    height: 140px;
    width:auto;
    
}


.img-container {
    background-color: white;
    padding: 32px;
    border-radius: 50%;
    margin-right: 50px;
}

.nav ul {
    display:flex;
    list-style: none;
    gap: 35px;
    font-size: 30px;
    
}

